# Python Cache & Virtual Environments
.env
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Datasets & Checkpoints
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/checkpoints/*
tensorboard_logs/
*.log
logs/
